body {
    font-family: "montserrat", sans-serif;
    font-size: 17px;
    color: dimgrey;
    font-weight: lighter;
}

.navbar {
   position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    padding-left: 50px;
}
.logo {
    width: 150px;
}

.container {
    max-width: 1080px;
}

.img-taille {
    max-width: 450px;
}

.img-taille-client {
    max-width: 200px;
}

.H1-blanc {
    padding-top: 70px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
}

.H2-noir {
    color: #000000;
    font-weight: bold;
    font-size: 35px;
}

.H2-blanc {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px;
}

.H3-rouge {
    color: #c01b28;
    text-transform: uppercase;
    font-size: 20px;
}

.H3-blanc {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
}

.H4-rouge {
    color: #c01b28;
}

.H4-noir {
    color: #000000;
}

.H4-blanc {
    color: #FFFFFF;
}


.barre-rouge {
    margin-top: 40px;
    margin-bottom: 60px;
    color: #c01b28;
    width: 300px;
    border: 1px solid #c01b28;
    opacity: inherit;
}

.P-blanc {
    color: #FFFFFF;
}

.button {
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #c01b28;
    font-size: 20px;
}

.button2 {
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    font-size: 20px;
}

.button2:hover {
    color: #c01b28;
}

.card {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
    width: auto;
}

.card-admin {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
   max-width: 1080px;
}

.card:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 26px 1px 10px rgba(192,27,40,0);
    box-shadow: 0px 10px 13px -7px #000000, 5px 26px 1px 10px rgba(192,27,40,0);
}

.section1{
    padding-top: 90px;
}

.section2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section4 {

}

.section5 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section6 {
    background-color: #c01b28;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section7 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-admin {
    padding-top: 110px;
    padding-bottom: 70px;
}

.parallax-effect {
    background-image: url('../images/livraison-repas-à-domicile.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-effect2 {
    background-image: url('../images/bg-menu.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Responsive */

@media screen and (max-width: 380px) {
    .card,
    .card-show,
    .card-show2 {
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }


    .temoignage {
        width: 300px;
        margin-bottom: 20px;
    }

    .block-responsive,
    .block-iframe {
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 500px) {
    .card,
    .img-taille
     {
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }


    .temoignage {
        width: 300px;
        margin-bottom: 20px;
    }

    .block-responsive {
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }


    @media screen and (max-width: 850px) {
        .card,
        .img-taille
        {
            width: 300px;
            margin: auto;
            margin-bottom: 20px;
        }

        .temoignage {
            width: 300px;
            margin-bottom: 20px;
        }

        .block-responsive,
        .block-iframe {
            width: 300px;
            margin: auto;
            margin-bottom: 20px;
        }

    }

    @media only screen and (max-device-width: 1366px) {
        .parallax-effect {
            background-attachment: scroll;
        }

        .parallax-effect2 {
            background-attachment: scroll;
        }
    }
}

