@font-face {
    font-family: "montserrat-light";
    src: url("../assets/Montserrat-light.ttf") format("truetype");
}

@font-face {
    font-family: "montserrat";
    src: url("../assets/Montserrat-medium.ttf") format("truetype");
}

body {
    font-family: "montserrat-light", sans-serif;
    font-size: 17px;
    color: dimgrey;
    font-weight: lighter;
}

.navbar {
   position: fixed;
    width: 100%;
    z-index: 1;
}

.navbar-nav {
    padding-left: 50px;
}
.logo {
    height: 75px;
}

.logo-jardin {
    height: 75px;
}

.container {
    max-width: 1080px;
}

.img-taille {
    max-width: 450px;
}

.img-taille-radius {
    max-width: 400px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);

}

.img-taille-client {
    max-width: 300px;
    overflow:hidden
}

.img-taille-client:hover {
    transform: scale(1.1);
    transition: transform .2s;
}

.block-image-zoom {
    max-width: 300px;
    overflow:hidden;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
}

.H1-blanc {
    font-family: "montserrat", sans-serif;
    padding-top: 110px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 50px;
}

.H2-noir {
    font-family: "montserrat", sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 35px;
}

.H2-blanc {
    font-family: "montserrat", sans-serif;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 35px;
}

.H3-rouge {
    font-family: "montserrat", sans-serif;
    color: #c01b28;
    text-transform: uppercase;
    font-size: 20px;
}

.H3-blanc {
    font-family: "montserrat", sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 20px;
}

.H3-vert {
    font-family: "montserrat", sans-serif;
    color: green;
    text-transform: uppercase;
    font-size: 20px;
}

.H4-rouge {
    font-family: "montserrat", sans-serif;
    color: #c01b28;
}

.H4-vert {
    font-family: "montserrat", sans-serif;
    color: green;
}

.H4-noir {
    font-family: "montserrat", sans-serif;
    color: #000000;
}

.H4-blanc {
    font-family: "montserrat", sans-serif;
    color: #FFFFFF;
}


.barre-rouge {
    margin-top: 40px;
    margin-bottom: 60px;
    color: #c01b28;
    width: 300px;
    border: 1px solid #c01b28;
    opacity: inherit;
}

.barre-verte {
    margin-top: 40px;
    margin-bottom: 60px;
    color: green;
    width: 300px;
    border: 1px solid green;
    opacity: inherit;
}

.P-blanc {
    color: #FFFFFF;
}

.button {
    color: #FFFFFF;
    border-radius: 20px;
    background-color: #c01b28;
    font-size: 18px;
}

.button2 {
    color: #FFFFFF;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    font-size: 18px;
}

.button3 {
    color: #c01b28;
    border-radius: 20px;
    border: 1px solid #c01b28;
    font-size: 18px;
}

.button-jardin {
    color: #FFFFFF;
    border-radius: 20px;
    background-color: green;
    font-size: 18px;
}


.button-jardin2 {
    color: green;
    border-radius: 20px;
    border: 1px solid green;
    font-size: 18px;
}

.button2:hover {
    color: #c01b28;
}

.card {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
    width: auto;
}

.card-admin {
    padding: 20px;
    border-radius: 20px;
    background-color: #FFFFFF;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);
    border: none;
    margin: 10px;
   max-width: 1080px;
}

.section1 {
    padding-top: 50px;
}

.section2 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section3 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section4 {

}

.section5 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section6 {
    background-color: #c01b28;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section7 {
    padding-top: 70px;
    padding-bottom: 70px;
}

.section8 {
    background-color: #F2F2F2;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-verte {
    background-color: green;
    padding-top: 70px;
    padding-bottom: 70px;
}

.section-herbe {
    background-image: url('../images/bg-herbe.svg');
    min-height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.section-admin {
    padding-top: 110px;
    padding-bottom: 70px;
}

.parallax-effect {
    background-image: url('../images/livraison-repas-à-domicile.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-effect2 {
    background-image: url('../images/bg-menu.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-effect3 {
    background-image: url('../images/bg-portage-repas.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-effect-contact {
    background-image: url('../images/bg-repas-herault.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-effect-jardin{
    background-image: url('../images/bg-entretien-jardin.jpg');
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


*{box-sizing: border-box}

img{max-width: 100%}

input[type=radio]{

    position: absolute;
    left: -9999px

}/*on cache tous les input*/

.cadre-demo1 label{

    cursor:pointer/*on pointe tous les labels*/

}

.cadre-demo1{

    overflow: hidden;
    position: relative;
    max-width: 800px;
    margin: 2rem auto;
    border-radius: 20px;
    box-shadow: 10px 10px 15px 10px rgba(0, 0, 0, 0.1);


}


.photos-mini{


    padding-top: 66.67%;/* il s'agit du ratio pour le responsive*/
    display: flex;
    border-radius: 10px;

}

.miniature{

    flex: 1; /*les photos occupent la même place selon la largeur du conteneur*/
    padding:.25rem;

}


.fenetre{/*grande photo*/

    position: absolute;
    top: 0;
    left: 0;
    transition:transform .6s,opacity .6s;
    transform:translatex(-100%);
    opacity: 0

}

.fen:checked~ .fenetre{

    transform:translatex(0%);
    opacity: 1

}

.figcaption{/*optionnel*/

    position: absolute;
    top: 0;
    left: 0;
    padding: .25rem;
    transition: opacity .4s;
    opacity: 0;
    display: flex;
    justify-content: center;
    color: white;
    background: hsla(0,0%,0%,.8)

}

.fen:checked~.figcaption{

    opacity: 1

}




/* Responsive */

@media screen and (max-width: 380px) {
    .card,
    .card-show,
    .card-show2 {
        width: 300px;
        margin: auto;
        margin-bottom: 20px;
    }


    .temoignage {
        width: 300px;
        margin-bottom: 20px;
    }

    .block-responsive,
    .block-iframe,
    .block-image-zoom{
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }


}

@media screen and (max-width: 500px) {
    .card,
    .img-taille,
    .img-taille-radius,
    .block-image-zoom
     {
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }


    .temoignage {
        width: 300px;
        margin-bottom: 20px;
    }

    .block-responsive {
        width: 330px;
        margin: auto;
        margin-bottom: 20px;
    }


    @media screen and (max-width: 850px) {
        .card,
        .img-taille,
        .img-taille-radius,
        .block-image-zoom
        {
            width: 300px;
            margin: auto;
            margin-bottom: 20px;
        }

        .temoignage {
            width: 300px;
            margin-bottom: 20px;
        }

        .block-responsive,
        .block-iframe {
            width: 300px;
            margin: auto;
            margin-bottom: 20px;
        }

    }

    @media only screen and (max-device-width: 1366px) {
        .parallax-effect,
        .parallax-effect2,
        .parallax-effect3,
        .parallax-effect-jardin
        {
            background-attachment: scroll;
        }
    }

}

