{% extends 'base.html.twig' %}

{% block title %}Edit Fichiers{% endblock %}

{% block body %}
    <section class="section-admin">
        <div class="container">
            <div class="row">
                <div class="card-admin">
                    <h1>Editer</h1>

                    {{ include('admin/_form.html.twig', {'button_label': 'Update'}) }}

                    <a class="btn btn-primary" href="{{ path('app_fichiers_index') }}">Retour</a>

                    {{ include('admin/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
